{
  "en": [
    "The juice of lemons makes fine punch",
    "Rice is often served in round bowls",
    "The soft cushion broke the man's fall"
  ],
  "fa": [
    "من قدر تو را می‌دانم",
    "زندگی طبق خواسته‌ی دیگران سخت است",
    "چای داغ را قبل از نوشیدن فوت کن"
  ]
}
